__pycache__/
*.pyc

venv/
env/
.venv/

.env
.env.*

.vscode/
.idea/

.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/splits/*
!data/splits/.gitkeep

dataset/
datasets/

*.h5
*.keras
*.pth
*.pt

*.log
